<ion-content>
  <div class="sub-header">
    <p>Notes List</p>
    <ion-button (click)="addNotes()" class="add-btn">
      <span>
        <ion-icon name="add-outline"></ion-icon>
      </span>
      Add Note
    </ion-button>

  </div>

  <ng-container *ngIf="notesList?.length; then hadData; else noData">
  </ng-container>

  <ng-template #hadData>
    <!-- <div class="list">
      <ion-card *ngFor="let n of notesList">
        <ion-card-header>
          <ion-card-title>{{n?.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{n?.description}}
        </ion-card-content>
      </ion-card>
    </div> -->

    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let n of notesList;let even = even; let odd = odd">
          <ion-card [ngClass]="{ odd: odd, even: even }" class="cat-card">
            <ion-card-header>
              <ion-card-title class="cat-title">{{n?.title}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <!-- <div class="content-wrapper">
                
                <p>

                </p>
              </div> -->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <ng-template #noData>
    <div class="container">

      <div class="img-wrapper">
        <img src="../../../../../assets/images/no-data-found.png" alt="">
      </div>

      <h2 class="text-center f-22">No Records Found</h2>
      <p class="text-center f-14">Looks like you haven't added any notes </p>
    </div>
  </ng-template>



</ion-content>