.form-control {
    margin: 25px 10px;
    > .input-field {
        border: 1px solid #e0e0e0;
        margin-bottom: 5px;
        border-radius: 10px;
    }
}
.title {
    h2 {
        font-weight: bolder;
        font-size: 28px;
        color: var(--ion-color-black);
    }
}

.row {
    display: flex;
    flex-direction: row;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.f-end {
    display: flex;
    justify-content: end;
}
.f-right {
    float: right;
}

.f-18 {
    font-size: 18px;
}
.text-center {
    text-align: center;
}
.fw-600 {
    font-weight: 600;
}

.f-22 {
    font-size: 22px;
}

.f-24 {
    font-size: 24px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px;
}
.danger-text {
    color: var(--ion-color-danger) !important;
}

.cat-card {
    width: 90%;
    height: 100%;

    > .cat-card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > p {
            margin: 0px;
            font-size: 0.6rem;
        }
    }
}

.even {
    border: 1px solid var(--ion-color-warning);
}

.odd {
    border: 1px solid var(--ion-color-primary);
}
.cat-title {
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: capitalize !important;
}

.success-text {
    // background: var(--ion-color-light);
    color: #01796f;
}

.error-text {
    // background: var(--ion-color-light);
    color: var(--ion-color-danger);
}

.error {
    color: #dc143c;
    padding: 10px;
}
