@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --ion-font-family: "Poppins", sans-serif;
  --ion-color-black: #28282b;

  --ion-color-primary: #a6d3f2;
  --ion-color-primary-rgb: 166, 211, 242;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #92bad5;
  --ion-color-primary-tint: #afd7f3;

  --ion-color-secondary: #67aeee;
  --ion-color-secondary-rgb: 103, 174, 238;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #5b99d1;
  --ion-color-secondary-tint: #76b6f0;

  --ion-color-tertiary: #4dccff;
  --ion-color-tertiary-rgb: 77, 204, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #44b4e0;
  --ion-color-tertiary-tint: #5fd1ff;

  --ion-color-success: #afc3a8;
  --ion-color-success-rgb: 175, 195, 168;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #9aac94;
  --ion-color-success-tint: #b7c9b1;

  --ion-color-warning: #f7d78c;
  --ion-color-warning-rgb: 247, 215, 140;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d9bd7b;
  --ion-color-warning-tint: #f8db98;

  --ion-color-danger: #ff5844;
  --ion-color-danger-rgb: 255, 88, 68;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #e04d3c;
  --ion-color-danger-tint: #ff6957;

  --ion-color-medium: #959ab46b;
  --ion-color-medium-rgb: 105, 105, 105;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5c5c5c;
  --ion-color-medium-tint: #787878;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}
