<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" class="icon-btn" (click)="closeModal(false)">
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title class="text-center bold">
      Add Category
    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" class="icon-btn" (click)="addNewCategory()">
        Done
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="form-container sign-in-container">
    <form [formGroup]="addCategoryForm" class="d-flex flex-column align-items-center">

      <div class="form-control">
        <ion-label class="label-text">Category Name</ion-label>
        <ion-item lines="none" class="input-field">
          <ion-input formControlName="name" class="ioninput"></ion-input>
        </ion-item>

        <div class="error" *ngIf="f.name.touched && f.name.invalid">
          <div *ngIf="f.name.errors?.required">
            Category name is required
          </div>
        </div>
      </div>

      <div class="form-control">
        <ion-label class="label-text">Related Tab Name</ion-label>
        <ion-item lines="none" class="input-field">
          <ion-input formControlName="tab" class="ioninput"></ion-input>
        </ion-item>

        <div class="error" *ngIf="f.tab.touched && f.tab.invalid">
          <div *ngIf="f.tab.errors?.required">
            Related Tab Name is required
          </div>
        </div>
      </div>

      <div class="form-control">
        <ion-label class="label-text">Description</ion-label>
        <ion-item lines="none" class="input-field">
          <ion-input formControlName="description" class="ioninput"></ion-input>
        </ion-item>

        <div class="error" *ngIf="f.description.touched && f.description.invalid">
          <div *ngIf="f.description.errors?.required">
            Description is required
          </div>
        </div>
      </div>


    </form>
  </div>
</ion-content>