<ion-content>
  <div class="container">
    <div class="header">
      <div class="user-avator">
        <img src="../../../../../assets/images/user-avator.png" alt="user-avator">
      </div>

      <h2 class="text-center f-22 fw-600">{{userData?.user.username}}</h2>
      <div class="action text-center">
        <a class="f-14 fw-600" color="primary">Edit Profile</a>
      </div>
    </div>

    <div class="body">
      <div class="cards-list">
        <div class="card-item">
          <p class="fw-600 f-22">0</p>
          <p>Notes</p>
        </div>
        <div class="card-item">
          <p class="fw-600 f-22">0</p>
          <p>Tasks</p>
        </div>
      </div>

      <ion-card class="settings-card">
        <ion-item href="#" lines="none">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label class="label-text f-16 fw-600">Personal Data</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item href="#" lines="none">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label class="label-text f-16 fw-600">Settings</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label class="label-text f-16 fw-600">FAQ's</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="headset-outline" slot="start"></ion-icon>
          <ion-label class="label-text f-16 fw-600">Support center</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item lines="none" (click)="logout()">
          <ion-icon name="log-out-outline" class="danger-text" slot="start"></ion-icon>
          <ion-label class="label-text danger-text f-16 fw-600">Log out</ion-label>
          <ion-icon name="chevron-forward-outline" class="danger-text" slot="end"></ion-icon>
        </ion-item>

      </ion-card>
    </div>
  </div>
</ion-content>