.container {
    padding: 15px;

    .user-avator {
        text-align: center;

        > img {
            width: 25%;
        }
    }

    .body {
        margin-top: 15px;
        .cards-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            > .card-item {
                width: 80px;
                height: 80px;
                border-radius: 10px;
                border: 1px solid var(--ion-color-medium);
                text-align: center;

                > p {
                    margin: 5px;
                }
            }
        }

        .settings-card {
            margin: 20px 0px 5px 0px;
            border: 1px solid var(--ion-color-medium);
            border-radius: 15px;

            > ion-item {
                padding: 5px;

                > .label-text {
                    color: var(--ion-color-black);
                }
            }
        }
    }
}
