<ion-header [translucent]="true">
  <ion-toolbar class="main-toolbar">
    <ion-title class="heading">
      <span>M'</span>List
    </ion-title>

    <ion-buttons slot="end">
      <div class="user-avator" routerLink="account">
        <img src="../../../../../assets/images/user-avator.png" alt="user-avator">
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="notes">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label class="tab-label">Notes</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="tasks">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label class="tab-label">Tasks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categories">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label class="tab-label">Categories</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label class="tab-label">Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>