/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/general.scss";

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.ql-toolbar {
  border-radius: 10px 10px 0px 0px;
  background-color: #67aeee;
}

.ql-container {
  border-radius: 0px 0px 10px 10px;
  min-height: 300px;
}
